html {
  scroll-behavior: smooth;
}
@import "tailwindcss";

@layer base {
  :root {
    --background: 2, 6, 23; /* Deep Navy Black */
    --foreground: 255, 255, 255;
  }

  body {
    margin: 0;
    padding: 0;
    /* !important diye force korchi jate change hoyei hoy */
    background-color: #020617 !important; 
    background-image: 
      radial-gradient(at 0% 0%, rgba(109, 213, 250, 0.15) 0, transparent 50%), 
      radial-gradient(at 100% 0%, rgba(0, 242, 255, 0.1) 0, transparent 50%),
      linear-gradient(180deg, #020617 0%, #04102e 100%) !important;
    background-attachment: fixed;
    color: white;
    min-height: 100vh;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default font Bangla set kora holo */
  font-family: var(--font-hind), var(--font-poppins), sans-serif;
}

/* English text jekhane thakbe shekhane ei class use korbo */
.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}